<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="open-modal" class="ion-padding" expand="block" color="primary"
    >Button</ion-button
  >

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <app-create-booking
        [selectedPlace]="place"
        (cancel)="cancel()"
        (confirm)="confirm()"></app-create-booking>
    </ng-template>
  </ion-modal>
</ion-content>
